
body {
    font-family: 'Roboto', sans-serif;
    padding top:70px;
    color:#747474;
    display:block;
    margin:0;
}
// Responsive part 

img { max-width: 100%; height: auto; }

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1060px) {

    }
    @media (min-device-width:600px) {
        img[data-src-600px] {
            content: attr(data-src-600px, url);
        }
    }
    
    @media (min-device-width:800px) {
        img[data-src-800px] {
            content: attr(data-src-800px, url);
        }
    }

.headpage {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position:sticky;
    margin: auto;
    top: 0;
    background-color: #fff;
}
/* bar de navigation */
.navbar {
    margin-right:14% ;
    overflow: hidden;
    background-color: #fff;
    float: right;
  }
  #logotoppage {
      margin-left: 14%;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #ababab;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #ababab;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #00b39b;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #ababab;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* intro de la page */
  .intro-page {
    margin-left: 13%;
    margin-right: 13%;
  }
  
  .intro-page img {
      margin-top: 5%;
      margin-bottom: 3%;
      display:block;
      margin-left: auto;
      margin-right: auto;
}
.intro-page h1 {
     text-align: center;
     color: #00b39b;
     font-size: 180%;
     }

.bloctextintro {
    line-height: 1.50;
    font-weight: 400;
    display:flex;
    margin: auto;
    justify-items: center;
    justify-content: space-between;
}
.text1 {
    color: #747474;
    text-align: justify;
    margin-right: 2%;
}
.text2 {
    color: #747474;
    text-align: justify;
    margin-left: 2%;
   }

   /* bloc central */

.colonnecentral {
    margin: 12%;
    padding:12px;
    display:flex;
    justify-content: space-around;
    flex-direction: row;    
}
.colonnepatients {
    margin-right: 1%;
    width: 33.33%;
    min-height: 150px;
    padding:32px 32px;
    border-radius: 10px;
    background-color: #00ccb1;
    color: white;   
}
.colonnedoctors {
    margin-left: 1%;
    margin-right: 1%;
    width: 33.33%;
    min-height: 150px;
    padding:32px 32px;
    border-radius: 10px;
    background-color: #3d83df;;
    color:white;
    
}
.colonneclinics {
    margin-left: 1%;
    width: 33.33%;
    min-height: 150px;
    padding:32px 32px;
    border-radius: 10px;
    background-color:#1b2734;
    color:white;
    
}

.style-select select {
    background-color: transparent;
    border-radius: none;
    border:none;
    font-size: 1em;
    color: white;
    text-decoration: underline;
    margin-top: 10%;
}
.BlocPub {
    align-items: center;
    color: #00b39b;
    margin: 5% 13% 5% 13%;
    display: flex;
    align-items: center;
    }

.Publogos li {
    overflow: hidden;
    float: left;

}
.Publogos a {
    line-height: 3;
}
/* BLOC STATISTICS */

.statistics {
    height: 600px;
    background: #e5faf8;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 47% 6% 47%;
}
.grid1 h1 {
    text-align: justify;
     color: #00b39b;
}
.grid1 {
    text-align: justify;
    margin-left: 35%;
    margin-right: 12%;
}
.statistics h3 {
    color:#00b39b;
}
.grid7 {
    overflow: hidden;
}
.grid2 {
    text-align: end;
}
.section-bloc {
    background-color: #fff;
    text-align: center;
    width: 240px;
    }

    /* BLOC PAYS */ 
.header-country {
    margin-left: 13%;
    margin-right: 13%;
}
.header-country h1 {
    margin-top: 8%;
    text-align: center;
    color: #00b39b;
    font-size: 180%;
}
.header-country p {
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
.image-countrys {
    margin top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-left: 13%;
    margin-right: 13%;
    text-align: justify;
    align-items: center;
}
.block-pays {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-pays:hover {
    padding: auto;
    border: #747474;
    box-shadow: 10px 10px 8px #747474; 

}
.image-countrys img {
    border-radius: 6px;
    
    }
.country-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.country a {
    color: #747474;
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
}
.bouton {
    margin-right: 19px;
   float: right;
   text-decoration: none;
   border-radius: 4px;
   border: 0;
   outline: 0;
   background: #3d83df;
   font-weight: 700;
   font-size: 65%;
   font-family: Roboto,Arial,sans-serif;
   color: #fff;
   padding:2%;
}
.bouton:hover {
    background: #004eb4;
}
/* bas de la page */ 

.header-foot {
    margin:10%;
    text-align: center;
    margin: 6rem auto;
}
.btn {
    border-radius: 4px;
    background: #3d83df;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    padding: 0.6%;
    text-decoration: none;
}
.main-foot {
    border-top: 1px solid #eef2f2;
}
.main-foot a {
    text-decoration: none;
    color: #3d83df;

}
.main-foot a:hover {
    text-decoration: underline;
}
.main-foot p { 
    text-decoration: none;
    color: #3d83df;
    text-align: center;
    font-size: 12px;
    font-family: Roboto,Arial,sans-serif;
    color:#ababab;
}
.header-foot a:hover {
    background: #004eb4;
}









